<div class="navigation">
    <a routerLink="/view-child">Previous</a> <a routerLink="/ngrx-component-store">Next</a>
</div>

<h1>Services Involving Subject Pattern</h1>

<p>This solution is great. It's unfortunate how much boilerplate is required to make a Service reactive though.</p>

<div class="container">
    <input [(ngModel)]="first" (input)="handleChange()" placeholder="first" type="number"><br>
    <input [(ngModel)]="second" (input)="handleChange()" placeholder="second" type="number"><br>

    <app-product class="container" [first]="first" [second]="second"></app-product>
</div>
